<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>SafeClick</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="static/assets/img/check.png" rel="icon">
  <link href="static/assets/img/check.png" rel="apple-touch-icon">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="static/style.css" rel="stylesheet">
</head>

<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="{{ url_for('home') }}">SafeClick</a></h1>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
          <li><a onclick="scrolldiv()">About</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>Phishing Detector</h1>
            <form action="/result" method="POST" role="form" class="form">
        <div class="row no-gutters">
          <div class="col-md-6 form-group pr-md-1">
              <input type="url" name="name" class="form-control" id="name" placeholder="Enter a URL" required>
          </div>
        </div>
        <div class="text-center"><button type="submit">Scan URL</button></div>
        <p>
          {% if name %}
         
          <h2 style="color:rgb(255, 255, 255); margin-right: 50%;">Website is {{name[1]}} to use</h2><br>
          {% if name[3] %}
          <button class="button1" onclick="window.open('{{name[0]}}')" target="_blank" >{{name[2]}}</button><br>
          {% else %}
          <button class="button2" onclick="window.open('{{name[0]}}')" target="_blank" >{{name[2]}}</button><br>
          {% endif %}
          {% endif %}
          
      </p>
      </form> 
      <img src="static\assets\img\Phishing.gif" class="img-fluid hero-img" alt="" data-aos="zoom-in" data-aos-delay="150"><br><br><br>
    </div>
    <script>
        
         
    </script>
  </section>
      </section>
  <main id="main">    
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
              <div class="section-title">
                <h2>About</h2>
                <p>SafeClick is a project aimed at helping users detect phishing websites
                    </p>                
                    <h3>About Us</h3>
                    <p>This Project is done by<br><h5 style="color:rgb(0, 0, 0);"><b> Aniket<br> Shireen<br> Sai<br><br><h6>Guided By</h6><h5>Prof Rayes, Mark Ammar </h5></b></p></p>
              </div>
            </div>
          </section>
  </main>
  </footer>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script>
    function scrolldiv() {
        var elem = document.getElementById("about");
        elem.scrollIntoView();
    }
  </script>
  <script src="static/assets/js/main.js"></script>

</body>

</html>
