<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Phishbuster | Usecases</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/newlogo.jpg" rel="icon">
  <link href="static/assets/img/newlogo.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Krub:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <!-- Logo Section -->
      <a href="{{ url_for('home') }}" class="logo mr-auto">
        <img src="static/assets/img/newlogo.jpg" alt="PhishDetector" class="img-fluid">
      </a>

      <!-- Navigation Menu -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a onclick="scrolldiv()">About</a></li>
          <li class="active"><a href="{{ url_for('usecases') }}">Usecases</a></li>
          <li class="drop-down"><a href="#">Help</a>
            <ul>
              <li class="drop-down"><a href="#">Report Phishing Cases</a>
                <ul>
                  <li><a href="https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en">Google Safe Browsing</a></li>
                  <li><a href="https://support.google.com/websearch/answer/106318">Google Support</a></li>
                </ul>
              </li>
              <li class="drop-down"><a href="#">Take Phishing Quiz</a>
                <ul>
                  <li><a href="https://www.phishingbox.com/phishing-iq-test">Phishingbox</a></li>
                  <li><a href="https://www.intradyn.com/phishing-quiz/">Intradyn</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>

      <!-- Download Guide Button -->
      <a href="static/assets/Phishing Website Identification.pdf" class="get-started-btn scrollto" download="nofallmagaguide">
        Download Guide <i class='bx bxs-download'></i>
      </a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">
      <h2 class="text-center" style="font-size: 30px; font-weight: 700; margin-top: 100px;">Use case Scenarios of Phishing attack (Data Breach due to Phishing Attack)</h2>

      <div class="faq-list" style="margin-top: 25px;">
        <ul>
          <!-- Use Case Scenario 1 -->
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Use Case Scenarios #1 <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
              <p>
                One of the Biggest Data Breaches from Phishing: <br><br> John Podesta’s Email...
              </p>
            </div>
          </li>

          <!-- More Use Case Scenarios... -->

        </ul>
      </div>
    </div>
  </section><!-- End FAQ Section -->

  <main id="main">    
    <!-- About Section -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About Phishbuster</h2>
          <p>Phishbuster is a project aimed at helping users detect phishing websites...</p>
          <h3>About Us</h3>
          <p>This Project is done by Aniket, Shireen, and Sai.</p>
          <h5>K Aniket<br>B Shireen<br>B Sai</h5>
          <h6>Guided By</h6>
          <h5>Prof Rayes, Mark Ammar</h5>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">
        <div class="owl-carousel testimonials-carousel">
          <!-- Testimonial Items (Image + Description) -->
          <div class="testimonial-item">
            <p><iframe width="600" height="500" src="static/assets/img/pic1.png" title="Example"></iframe></p>
            <p><b>Description:</b> Consider this fake Paypal security notice...</p>
          </div>
          <!-- More Testimonial Items... -->
        </div>
      </div>
    </section><!-- End Testimonials Section -->
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container d-md-flex py-4">
      <div class="text-center text-md-center">
        <div class="copyright">
          <img src="static/assets/img/google.png" alt="">
          <a href="https://phishingquiz.withgoogle.com/" class="get-started-btn scrollto">Take a Phishing Test by GOOGLE</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>

  <!-- Custom JS -->
  <script>
    function scrolldiv() {
        document.getElementById("about").scrollIntoView();
    }
  </script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>
